// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body > header {
  padding-top:0.5em;
  padding-bottom:.5em;
}
body > header h1 {
  font-family: $sans;
}
article header p.meta {
  letter-spacing: .2em;
}

hgroup {
  a {
    text-decoration: none;
    white-space: nowrap;
  }
  a span {
    text-decoration: none;
  }
  span {
    color: $light-yellow;
    background-color: darken($color-heavy-smoke,10);
    font-family: 'Lekton', san-serif;
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
    text-align:center;
    padding: .1em .3em .1em;
    @include box-shadow(rgba($light-black, 0.4) 0 0 15px);
    &:nth-child(5n) {
      color: $light-yellow;
    }
    &:nth-child(5n-1) {
      color: $light-green;
    }
    &:nth-child(5n-2) {
      color: $light-orange;
    }
    &:nth-child(5n-3) {
      color: $light-red;
    }
    &:nth-child(5n-4) {
      color: $light-blue;
    }
  }
  a:hover span {
    @include box-shadow(rgba($light-black, 0.6) 0 0 15px);
  }

  .tagline {
    color: $light-black;
    font-family: 'Lekton', san-serif;
    margin-top: .4em;
    text-align: left;
    width: 100%;
  }

}


body > footer a:visited {
color: $light-black;
}
